BODY {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "细明体", "sans-serif";
     }
table
{
    FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "细明体", "sans-serif";
}

.middlecss
{
	background-color:#FFFFFF; 
	border-right:1px solid #C7C5D9;
}

.cbutton 
{
    border: 1px solid #000000; margin: 0px; padding: 2px;
    cursor:pointer;font-family: "Arial","宋体"; font-size: 9pt; color: #000000; 
    background-color: #EAEFF2;line-height: 10px; 
    Padding-top: 4px; padding-bottom: 2px; 
    Padding-left: 2px; padding-right:2px;
    border-top-color:#FFFFFF; border-right-color: #91ABC4; 
    border-left-color: #FFFFFF; border-bottom-color: #91ABC4}
.button_bak {
	BORDER-RIGHT: medium none; 
	BORDER-TOP: medium none; 
	BACKGROUND-IMAGE: url(../images/button_On.gif); 
	BORDER-LEFT: medium none; 
	WIDTH: 60px; 
	CURSOR: pointer; 
	BORDER-BOTTOM: medium none; 
	HEIGHT: 20px;
	FONT-SIZE: 9pt; 
	FONT-FAMILY: tahoma,宋体;
}
.TD_Class
{
    font-size:12px;   FONT-FAMILY: "Verdana", "Arial", "细明体", "sans-serif";  
}


A:hover{TEXT-DECORATION: none}
A{COLOR: #000000;}

             

.text_input  
{
BORDER-TOP-WIDTH: 1px;	
PADDING-RIGHT: 2px;	
PADDING-LEFT: 2px;	
BORDER-LEFT-WIDTH: 1px;	
BORDER-LEFT-COLOR: #ddd;	
BORDER-BOTTOM-WIDTH: 1px;
BORDER-BOTTOM-COLOR: #ddd;	
PADDING-BOTTOM: 2px;	
BORDER-TOP-COLOR: #ddd;	
PADDING-TOP: 3px;	
BORDER-RIGHT-WIDTH: 1px;
BORDER-RIGHT-COLOR: #ddd;
height:22px;
FONT: Trebuchet MS, Helvetica, Arial, sans-serif;	
COLOR: #000;
}
.tex_input  
{
BORDER-TOP-WIDTH: 1px;	
PADDING-RIGHT: 2px;	
PADDING-LEFT: 2px;	
BORDER-LEFT-WIDTH: 1px;	
BORDER-LEFT-COLOR: #ddd;	
BORDER-BOTTOM-WIDTH: 1px;
BORDER-BOTTOM-COLOR: #ddd;	
PADDING-BOTTOM: 2px;	
BORDER-TOP-COLOR: #ddd;	
PADDING-TOP: 2px;	
BORDER-RIGHT-WIDTH: 1px;
BORDER-RIGHT-COLOR: #ddd;
FONT: 12px/1.6em Trebuchet MS, Helvetica, Arial, sans-serif;	
COLOR: #000;
width:100%;
}





.Table_yellow {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 12px; background-color: #FFFF99}
.Table_blue {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 12px; background-color: #336699; color: #FFFFFF}
.Table_blue1 {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #FFFFFF; background-color: #3366CC}
.no_input { border :#665b8e 0px solid; color: #333333; cursor: text; font-family: "Arial"; font-size: 12px; height: 20px; padding: 1px}
.down_text {
	font-family: Arial;	font-size:8pt;background-color:#000000;color:#FFFFFF
	}
.down_tools_button {	
	border-left:1px solid #FFFFFF; border-right:1px solid #000000; 
	width: 80; height: 20; position:relative;
	letter-spacing:1; FONT-FAMILY: "Arial"; 
	FONT-SIZE: 9pt; LINE-HEIGHT: 7px; 
	PADDING-TOP: 0px; PADDING-BOTTOM: 0px; 
	PADDDING-LEFT: 2px; PADDING-RIGHT: 2px; 
	background-color:#000000; cursor:pointer;color:#FFFFFF}
.menubar_button { 
	border:1pt solid #FFFFFF; height: 20; 
	position:relative;letter-spacing:1;
	FONT-FAMILY: "Arial"; FONT-SIZE: 9pt; 
	LINE-HEIGHT: 7px; PADDDING-LEFT: 0px; 
	background-color:#FFFFFF; 
	position:relative; top:-1; cursor:pointer; padding-left:2px; padding-right:2px; padding-top:0; padding-bottom:0}

.menubar_button_on { 
	border-left:1pt solid #000000; border-right:1pt outset #000000; border-top:1pt outset #000000; border-bottom:1pt outset #000000; height: 20; 
	position:relative;letter-spacing:1;
	FONT-FAMILY: "Arial"; FONT-SIZE: 9pt; 
	LINE-HEIGHT: 7px; PADDDING-LEFT: 0px; 
	background-color:#FFCC00; 
	position:relative; top:-1; cursor:pointer; padding-left:2px; padding-right:2px; padding-top:0px; padding-bottom:0px}

.menubar_table {
	border-bottom:3px solid #000000; 
	border-collapse: collapse; 
	padding: 0; border-left-width:1;
	border-right-width:1; border-top-width:1; }

.menubar_title {FONT-FAMILY: "Verdana", "Arial", "细明体", "sans-serif"; font-size:14px; font-weight:bold;}
	
.menubar_readme_text {font-size:9pt;FONT-FAMILY: "Arial"; 
	color:#808080; text-align:right; padding-bottom:5px }

.menubar_down_text {
	border-top:1px solid #000000; font-size:9pt;
	FONT-FAMILY: "Arial"; position:relative; 
	color:#808080; text-align:center; border-left-width:1; 
	border-right-width:1; border-bottom-width:1; padding-top:3 }

.menubar_function_text {
	border-top:3px solid #000000; font-size:9pt;
	FONT-FAMILY: "Arial"; position:relative; 
	color:#808080; border-left-width:1; 
	border-right-width:1; border-bottom-width:1; padding-top:3; padding-left:10 }

.menubar_menu_td {
	border-top:3px solid #000000; font-size:8pt;
	FONT-FAMILY: "Arial"; position:relative; 
	color:#808080; border-left-width:1; 
	border-right-width:1; border-bottom-width:1; padding-top:3; padding-left:10 }
.tab {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 5px; LETTER-SPACING: 1px
}

#ld 
{    
filter: alpha(opacity=100);
-moz-opacity:.100;
opacity:1.0;
position:absolute;
left:0px;
top:0px;
width: expression(body.scrollWidth);
height: expression(body.scrollHeight);
width:100%; 
height: 100%;
z-index:1;
background-color: #000000;
}
.topmenuoff { cursor: pointer;color: #FFFFFF; font-size: 9 pt }
.topmenuon { cursor: pointer;color: #FFCC00; font-size: 9 pt }
.topmenuoff2 { cursor: pointer;color: #000000; font-size: 9 pt }
.topmenuon2 { cursor: pointer;color: #000000; font-size: 9 pt }

/*{bZxCSSゅン*/
.text_input_zy  
{
  border:solid 1px #7f9db9;
  padding:2px;      
}
.text_input_button
{
	 border:solid 1px #4297d7; background-image:url(../images/bg_btn1.gif); height:21px;  font-size:12px; padding-left:8px; padding-right:8px; padding-top:3px;cursor: pointer; 
}

.text_input_button_Dialog
{
	 border:solid 1px #4297d7; background-image:url(../images/bg_btn1.gif); height:21px;  font-size:12px; padding-left:3px; padding-right:3px; padding-top:3px;cursor: pointer; 
}

/*块X计沮datagrid姒*/
.dgdatagridStyle{border-collapse:collapse;border:none;}
.dgdatagridStyle12{border-collapse:collapse;border:none; color:Red;}
.dgdatagridThStyle{ height:23px; BACKGROUND-IMAGE: url(../images/bg.gif); border:solid #b5d6e6 1px; white-space:nowrap;}

.dgdatagridTh11Style{ height:25px; BACKGROUND-IMAGE: url(../images/bg_11.gif); border-left:solid #b5d6e6 1px; border-right:solid #b5d6e6 1px;border-bottom:solid #b5d6e6 1px;border-top:solid #b5d6e6 1px;white-space:nowrap;}

.dgdatagridThNewStyle{ height:23px; BACKGROUND-IMAGE: url(../images/bg.gif); border:solid #b5d6e6 1px; white-space:nowrap;padding-left:5px; padding-right:5px;}
.dgdatagridTdStyle{border:solid #b5d6e6 1px; height:23px;}
.dgdatagridTdStyleReport{border:solid #b5d6e6 1px; height:23px;white-space:nowrap; }
.dgdatagridTdNewStyle{border:solid #b5d6e6 1px; height:23px;white-space:nowrap; padding-left:2px; padding-right:2px;}
.dgdatagridTdNewGZStyle{border:solid #b5d6e6 1px; height:23px;white-space:nowrap; padding-left:2px; padding-right:2px; color:Red;}
.dgdatagridTdNewGZSumStyle{border:solid #b5d6e6 1px; height:23px;white-space:nowrap; padding-left:2px; padding-right:2px; color:Blue;}
.CZspan{ cursor:pointer; color:Blue;}
/*代刚家舱杭甩*/
.STYLE1
        {
            font-size: 12px;
        }
        .STYLE3
        {
            font-size: 12px;
            font-weight: bold;
        }
        .STYLE4
        {
            color: #03515d;
            font-size: 12px;
        }
        
/* 蹦潦^_H*/
.QLabSitmCGXX{ cursor:pointer;}
.QLabSitmCGXXDate{ color:blue;}
.QLabSitmCGXXSubd{ color:#f68a64;}
.QLabSitmRemark{ color:#ca3cf9;}

/*ASPNetPage妓Α*/
.AspNetCustomInfoClass{ padding-left:20px; text-align:left; padding-top:4px;}
.pageright{ text-align:right; padding-right:20px; background: url(../images/page/pageground.gif) left top repeat-x;} 
.pagebutton { height:19px; border:solid 1px #999999;}

.CurrentPage{ color:Red;}
.OtherPage{ color:Blue;}
.CGWidthTest{width:130px; word-break:break-all;}


.fixedHeaderTr    
{    
   position:relative;    
   top:expression(this.offsetParent.scrollTop);    
}   

.mainDiv    
{    
   overflow:auto;    
   scrollbar-face-color:9999ff; 
   height:expression((document.body.clientHeight-this.offsetTop-100>this.children[0].offsetHeight)?(this.children[0].offsetHeight+100) : (document.body.clientHeight-this.offsetTop-100));    
   width:expression(document.body.clientWidth-48);    
} 


.QLCXTable{border-collapse:collapse;border:none;}
.QLCXTd {border:solid 1px #717171; width:120px;}
.QLCXTd_g{border:solid 1px #717171; width:120px; background-color:#6f75f1;}
.QLCXTdN11{border:solid 1px #717171; width:120px; background-color:#b9bcf1;}
.QLCXTd_B01 {border:solid 1px #717171; width:120px; background-color:#e8d2f8;}
.QLCXTd_X01 {border:solid 1px #717171; width:120px; background-color:#d7d9da;}
.QLCXTd_X02 {border:solid 1px #717171; width:120px; background-color:#cee8f6;}
.QLCXTd_X03 {border:solid 1px #717171; width:120px; background-color:#e1ddf9;}
.QLCXTd_X04 {border:solid 1px #717171; width:120px; background-color:#f1f9b2;}
.QLCXTd_X05 {border:solid 1px #717171; width:120px; background-color:#eaf7e4;}
.QLCXTd_Last{border:solid 1px #717171; width:120px;}
.QLCXTh {border:solid 1px #717171; width:120px; text-align:center; background-color:#979797;}


.dgtopf1{width:100%;margin-top:-1px}


.menubarAA_function_text {
	border-bottom:3px solid #000000; font-size:9pt;
	FONT-FAMILY: "Arial"; position:relative; 
	 border-left-width:1; 
	border-right-width:1; border-bottom-width:2; padding-top:1; padding-left:1 }
	
.menubarAA_menu_td {
	border-bottom:3px solid #000000; font-size:8pt;
	FONT-FAMILY: "Arial"; position:relative; 
	border-left-width:1; 
	border-right-width:1; border-bottom-width:2; padding-top:1; padding-left:1 }